@use "../includes/dimensions";
@use "../includes/colours";

html, body
{
  margin: 0;
  font-family: sans-serif;
  font-size: dimensions.$regularTextSize;
  background-color: #ddeeff;
}

header
{
  box-sizing: border-box;
  margin: 0;
  padding: 5px 20px;
  background-color: colours.$headerBackground;
  color: colours.$headerText;
}

input
{
  &[type=text],
  &[type=email],
  &[type=search],
  &[type=password]
  {
    border: 2px solid #444;
    border-radius: dimensions.$borderRadius;
    background-color: white;
    height: 1em;
    padding: dimensions.$padding;
  }
}

.invisible
{
  opacity: 0.0;
}

.appearing
{
  transition: opacity 250ms ease-in-out;
  opacity: 1.0;
}

.disappearing
{
  transition: opacity 250ms ease-in-out;
  opacity: 0.0;
}

.main
{
  padding: 30px;

  button
  {
    border: none;
    box-sizing: border-box;
    padding: dimensions.$padding dimensions.$largePadding;
    min-width: 30px;
    border-radius: dimensions.$borderRadius;
    cursor: pointer;
    background-color: colours.$actionBackgroundColour;
    color: colours.$actionTextColour;
    transition: background-color 150ms ease-in-out;

    &:hover
    {
      background-color: colours.$activeActionBackgroundColour;
    }

    &:disabled
    {
      background-color: colours.$disabledActionBackgroundColour;
      color: colours.$disabledActionTextColour;
    }
  }
}
