@use "../includes/dimensions";
@use "../includes/colours";

html, body
{
  margin: 0;
  font-family: sans-serif;
  font-size: dimensions.$regularTextSize;
  background-color: #ddeeff;
}

header
{
  box-sizing: border-box;
  margin: 0;
  padding: 5px 20px;
  background-color: colours.$headerBackground;
  color: colours.$headerText;

  h1 a
  {
    font: inherit;
    color: inherit;
    text-decoration: none;
  }
}

@mixin widget
{
  box-sizing: border-box;
  border: 2px solid colours.$widgetBorder;
  border-radius: dimensions.$borderRadius;
  background-color: colours.$widgetBackground;
  color: colours.$widgetText;
  padding: dimensions.$padding;
}

select,
input[type=text],
input[type=number],
input[type=email],
input[type=search],
input[type=password],
input[type=file],
{
  @include widget;
  height: 30px;
}

textarea
{
  @include widget;
}

.invisible
{
  opacity: 0.0;
}

.appearing
{
  transition: opacity 250ms ease-in-out;
  opacity: 1.0;
}

.disappearing
{
  transition: opacity 250ms ease-in-out;
  opacity: 0.0;
}

.main
{
  padding: 30px;

  input
  {
    &[type=checkbox]
    {
      visibility: hidden;
      min-width: 20px;
      min-height: 20px;
      margin: 0 5px;

      &:before
      {
        cursor: pointer;
        display: block;
        box-sizing: border-box;
        content: " ";
        min-width: 20px;
        min-height: 20px;
        margin: 5px;
        visibility: visible;
        background-color: transparent;
        color: transparent;
        border-radius: 3px;
        border: 4px solid #4488dd;
        transition: background-color 150ms ease-in-out;
      }

      &:checked:before
      {
        background-color: #4488dd;
      }
    }
  }

  button
  {
    border: none;
    box-sizing: border-box;
    padding: dimensions.$padding dimensions.$largePadding;
    min-width: 30px;
    min-height: 30px;
    border-radius: dimensions.$borderRadius;
    cursor: pointer;
    background-color: colours.$actionBackgroundColour;
    color: colours.$actionTextColour;
    transition: background-color 150ms ease-in-out;
    font-size: dimensions.$regularTextSize;

    &:hover
    {
      background-color: colours.$activeActionBackgroundColour;
    }

    &:disabled
    {
      background-color: colours.$disabledActionBackgroundColour;
      color: colours.$disabledActionTextColour;
    }
  }

  .boxout
  {
    background-color: rgba(0, 0, 0, 0.1);
    padding: dimensions.$largePadding;
    margin: dimensions.$largeMargin;
  }
}
