@use "../includes/dimensions";

.timestamp-container
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  row-gap: dimensions.$margin;
  column-gap: dimensions.$margin;
  margin-bottom: dimensions.$largeMargin;

  .timestamp-timestamp
  {
    font-size: larger;
    font-weight: bold;
    padding: dimensions.$padding;
  }

  input.timestamp-time,
  input.timestamp-day
  {
    width: 4em;
  }

  input.timestamp-year
  {
    width: 5em;
  }

  button
  {
    margin-left: 5px;
  }
}