$skyBlue: #4488dd;
$fadedNavyBlue: #444466;
$brightYellow: #ffff00;
$brightCyan: #88ffff;
$notQuiteWhite: #eeeeee;
$inactivedGrey: #888888;
$paleRed: #ffdddd;
$boldRed: #cc4444;
$paleGreen: #ddffdd;
$boldGreen: #44cc44;

$genericDarkTranslucent: rgba(0, 0, 0, 0.25);
$genericLightTranslucent: rgba(255, 255, 255, 0.25);

// status
$errorBackground: $paleRed;
$errorText: $boldRed;
$successBackground: $paleGreen;
$successText: $boldGreen;

// action items
$actionBackgroundColour: $skyBlue;
$activeActionBackgroundColour: $fadedNavyBlue;
$actionTextColour: white;
$activeActionTextColour: $brightYellow;
$disabledActionBackgroundColour: $inactivedGrey;
$disabledActionTextColour: $notQuiteWhite;

// widgets
$widgetBackground: white;
$widgetBorder: #666666;
$widgetText: #222222;

$headerBackground: $skyBlue;
$headerText: white;

$mainNavTextColour: $notQuiteWhite;
$mainNavSubTextColour: $notQuiteWhite;
$mainNavHoverTextColour: $activeActionTextColour;
$mainNavSubHoverTextColour: $mainNavHoverTextColour;
$mainNavBackgroundColour: $fadedNavyBlue;
$mainNavSubBackgroundColour: $mainNavBackgroundColour;
$mainNavHoverBackgroundColour: inherit;
$mainNavSubHoverBackgroundColour: $genericDarkTranslucent;
